.dropdow {
  display: inline-block;
  position: relative;
}
.dropdow button {
  padding: 15px;
  border: none;
  background-color: tomato;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
  padding: 15px 20px;
}
.dropdow button:hover {
  background-color: red;
  cursor: pointer;
}
.dropdow ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
  flex-direction: column;
  min-width: 250px;
  position: absolute;
  right: 100%;
  top: 0;
  left: 100%;
}
.dropdow a {
  padding: 15px;
  border: none;
  background-color: tomato;
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 15px 20px;
  display: block;
}
.dropdow a:hover {
  background-color: red;
  cursor: pointer;
}
.dropdow:hover ul {
  display: flex;
  top: 0;
  left: 0;
}
.dropdow.dropdow-left {
  float: right;
}
.dropdow.dropdow-right {
  right: 0;
}
.offcanvas {
  position: fixed;
  top: 0;
  left: 250px;
  bottom: 0;
  z-index: 1;

  display: flex;
  align-items: flex-start;
  transition: all 0.5s ease-in;
}
.offcanvas:hover {
  left: 0;
}
.offcanvas ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-direction: column;
  height: 100%;
  width: 250px;

  background-color: tomato;
}
.offcanvas a{
  padding: 15px;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 15px 20px;
  display: block;
}
.offcanvas button{
  background-color: tomato;
  border: none;
  color: white;
  margin: 0;
  width: 100px;
  margin-top: 50px;
  padding: 15px 2px;
  font-size: 1.3rem;
  text-transform: uppercase;
  border-top-right-radius: 50px;
  border-bottom-right-radius:50px ;
  margin-right: -100px;
}
.offcanvas a:hover{
  background-color: black;
  cursor: pointer;
}
.overlay{
  background-color: black;
  position: fixed;
  opacity: 0;
  top: 0;
  right: 0;
  display: none;
  transition: all .3s;
}
.offcanvas:hover+.overlay{
  display: block;
  opacity: 0.5;
}
.offcanvas.offcanvas-right{
right: -250px;
left: auto;
}
.offcanvas.offcanvas-right:hover{
  right: 0;
}
.offcanvas.offcanvas-right button{
  order: -1;
margin-right: 0;
margin-left: -100px;
border-radius: 0;
border-top-left-radius: 50px;
border-bottom-left-radius: 50px;


}

